{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>You are visit ToyShop Site</h1>
    <p>What you wont?</p>
    <p>Maybe you need help</p>
    <header>
          <h1>Navigation:</h1>
          <nav>
              <ul>
                  <li>
                      <a href="{% url 'logic_about_clients' %}">Clients</a>
                  </li>
                  <li>
                      <a href="{% url 'logic_about_managers' %}">Managers</a>
                  </li>
              </ul>
          </nav>
      </header>

    {% for client in clients %}
      <h2>{{ client.nic_name }}</h2>
      <p>{{ client.description }}</p>
    {% endfor %}
    
{% endblock content %}
