{% extends 'base.html' %}
{% block title %}
    {{ Client.user.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>{{ Client.user.name }}</h1>
    <p>{{ Client.description }}</p>
    <a href="{% url 'client_create_order' %}">Create new order</a>

    {% if client_orders.count > 0 %}
    <h2>Orders list</h2>
    <table>
        <thead><th>Id</th><th>Subject</th><th>Body</th><th>Time last modify</th></thead>
        {% for order in client_orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.subject }}</td>
            <td>{{ order.body }}</td>
            <td>{{ order.last_changes}}</td>
            <td><a href="{% url 'cleint_edit_order' order.id %}">Modify</a> | <a href="{% url 'cleint_delete_order' order.id %}/">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock content %}
